// Working off colors in https://tailwindcss.com/docs/customizing-colors

$stone-50: #fafaf9;
$stone-100: #f5f5f4;
$stone-200: #e7e5e4;
$stone-300: #d6d3d1;
$stone-400: #a8a29e;
$stone-500: #78716c;
$stone-600: #57534e;
$stone-700: #44403c;
$stone-800: #292524;
$stone-900: #1c1917;

$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

// red-200 to fuchsia-200
$gradient-light: linear-gradient(
  55deg,
  hsl(288deg 96% 91%) 0%,
  hsl(300deg 77% 89%) 11%,
  hsl(311deg 87% 90%) 22%,
  hsl(320deg 96% 90%) 33%,
  hsl(327deg 100% 90%) 44%,
  hsl(332deg 100% 90%) 56%,
  hsl(338deg 100% 90%) 67%,
  hsl(343deg 100% 90%) 78%,
  hsl(348deg 100% 90%) 89%,
  hsl(353deg 96% 90%) 100%
);

$gradient: linear-gradient(
  55deg,
  hsl(293deg 69% 49%) 0%,
  hsl(304deg 89% 43%) 11%,
  hsl(311deg 100% 42%) 22%,
  hsl(317deg 100% 44%) 33%,
  hsl(322deg 100% 45%) 44%,
  hsl(327deg 100% 46%) 56%,
  hsl(331deg 100% 46%) 67%,
  hsl(335deg 100% 45%) 78%,
  hsl(338deg 99% 45%) 89%,
  hsl(347deg 77% 50%) 100%
);

.light-theme {
  --ls-primary-background-color: #{$stone-100};
  --ls-primary-text-color: #{$stone-900};
  --ls-secondary-text-color: #{$stone-400};

  --ls-block-bullet-color: #{$stone-300};
  --ls-block-bullet-border-color: #{$stone-200};

  --ls-page-checkbox-color: #{$red-600};
  --ls-link-text-color: #{$red-600};
  --ls-link-text-hover-color: #{$red-600};
  --ls-tag-text-hover-color: #{$red-600};
  --ls-secondary-link-text-color: #{$red-400};

  --ls-tag-text-color: #{$red-600};
  --ls-tag-text-opacity: 1;
  --color-level-1: #{$stone-50};
  --color-level-2: #{$stone-100};
  --color-level-3: #{$stone-200};
  --color-level-4: #{$stone-300};
  --color-level-5: #{$stone-400};
  --color-level-6: #{$stone-500};
  --color-level-7: #{$stone-600};
  --accent-color-1: #{$red-100};
  --accent-color-2: #{$red-200};
  --accent-color-3: #{$red-300};
  --accent-color-4: #{$red-400};
  --accent-color-5: #{$red-500};
  --accent-color-6: #{$red-600};
  --accent-color-7: #{$red-700};
  --gradient-light: #{$gradient-light};
  --gradient: #{$gradient};
}

.dark-theme {
  --ls-primary-background-color: #27292d;
  --ls-primary-text-color: hsla(0, 0%, 100%, 0.8);
  --ls-secondary-text-color: hsla(0, 0%, 100%, 0.8);
  --ls-title-text-color: hsla(0, 0%, 100%, 0.8);
  --ls-slide-background-color: #fff;
  --ls-block-bullet-border-color: #dedede;
  --ls-block-bullet-color: rgba(67, 63, 56, 0.25);
  --ls-border-color: #ccc;
  --ls-secondary-border-color: #e2e2e2;
  --ls-tertiary-border-color: rgba(200, 200, 200, 0.3);
  --ls-guideline-color: rgba(200, 200, 200, 0.3);
  --ls-quaternary-background-color: rgba(200, 200, 200, 0.3);
}
