@import "./reference_blocks.scss";
@import "./right_sidebar.scss";
@import "./colors.scss";
@import "./bullets.scss";
@import "./custom_classes.scss";
@import "./query.scss";
@import "./card.scss";
@import "./modal.scss";
@import "./left_sidebar.scss";
@import "./block_page.scss";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --ls-font-family: "Lora", serif;
  --ls-page-text-size: 16px;
  --ls-page-title-size: 3rem;
}

#main-content-container {
  justify-content: flex-start;
  width: 48rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a.journal-title,
a.page-title {
  margin-left: 1.5rem;
  padding-left: 0;
}

h1.title,
.title {
  font-family: var(--ls-font-family);
  font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .ls-block & {
    margin-top: 1rem;
  }
  font-weight: normal !important;
}

h2 {
  font-size: 1.5rem;
}

.page-ref,
.external-link {
  color: var(--ls-primary-text-color);
  border-bottom: 0;
  &:hover {
    color: var(--ls-primary-text-color);
  }
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.page-ref {
  text-decoration-color: transparent;
}
.external-link {
  text-decoration-color: var(--accent-color-3);
}
.page-reference {
  .text-gray-500 {
    color: var(--ls-secondary-text-color);
  }
  &:hover .page-ref {
    text-decoration-color: var(--accent-color-3);
  }
}

a.tag {
  color: var(--ls-primary-text-color);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent-color-3);
}

.ls-block h1,
.ls-block h2,
.editor-inner .h1.uniline-block,
.editor-inner .h2.uniline-block {
  border-bottom: none;
}

// Removing icons that I never use
.cp__sidebar-help-btn,
#left-menu,
#search-button {
  display: none;
}

a.tag {
  font-size: var(--ls-page-text-size);
}

div {
  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-level-4);
  }
}

#main-content-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#left-container {
  flex: 0 0 auto;
}
#main-content {
  width: fit-content;
}
#right-sidebar {
  width: 100%;
  min-width: 40rem;
}
.resizer {
  display: none;
}
.extensions__pdf-resizer {
  top: 0;
  bottom: 0;
  height: unset;
  &:hover,
  &:active {
    background-color: var(--ls-secondary-text-color);
  }
}

a:hover > .bullet-container .bullet.bullet {
  background-color: var(--ls-secondary-link-text-color);
}

:not(pre):not(mark) > code {
  background-color: transparent;
  background-image: var(--gradient-light);
  border-radius: 0;
  // I use a duospace font already for text
  font-family: var(--ls-font-family);
}

#head,
.cp__right-sidebar-topbar {
  background-color: var(--color-level-1);
  border-bottom: 1px solid var(--ls-guideline-color);
}
.cp__right-sidebar-topbar {
  border-left: 1px solid var(--ls-guideline-color);
}
