// Make the right sidebar scroll horizontally and have a set width

.sidebar-item-list {
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: unset;

  .sidebar-item {
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    min-width: 640px;
    max-width: 640px;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: var(--white);

    position: relative;
    padding: 0;
    .page-title,
    .breadcrumb {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-weight: normal;
      font-size: 2rem;
      line-height: 3rem;
      position: absolute;
      left: 0;
      top: 1rem;
    }

    .close {
      position: absolute;
      left: 0;
      bottom: 1rem;
    }

    > div > .flex {
      height: 0;
    }
    > div > .flex > .flex > a {
      display: none;
    }
    > div {
      height: 100%;
      > .initial {
        padding-left: 2rem;
        padding-top: 2rem;
        overflow: scroll;

        & > .ml-2 {
          margin-left: 0;
        }

        .breadcrumb {
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
      }
    }
  }
}

.cp__right-sidebar-topbar {
  background-color: var(--white);
}

#right-sidebar {
  background-color: var(--white);
}

.sidebar-item .page-title {
  font-size: var(--ls-page-title-size);
  color: var(--ls-page-text-size);
  font-family: var(--ls-title-font-family);
  font-weight: bold;
  margin-left: 0;
}
