// Make the right sidebar scroll horizontally and have a set width

.sidebar-item-list {
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: unset;

  &.gap-2 {
    gap: 0;
  }

  .sidebar-item {
    min-width: 640px;
    max-width: 640px;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: var(--color-level-2);

    &.shadow-md {
      box-shadow: none;
    }

    position: relative;
    padding: 0;
    padding-right: 1rem;
    .page-title {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1rem;
      width: 3rem;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 1rem;
      border: 1px solid var(--ls-guideline-color);
      border-bottom: none;
      border-top: none;
      background-color: var(--color-level-1);
    }

    .close {
      position: absolute;
      left: 0.75rem;
      bottom: 3.5rem;
    }

    > div > .flex {
      height: 0;
    }
    > div > .flex > .flex > a {
      display: none;
    }
    > div {
      height: 100%;
      > .initial {
        padding-left: 3rem;
        padding-top: 2rem;
        overflow: scroll;

        & > .ml-2 {
          margin-left: 0;
        }
      }
    }

    .references {
      padding-left: 1.5rem;
    }
    .page-hierarchy {
      padding-left: 2rem;
    }
  }
}

.cp__right-sidebar-topbar {
  background-color: var(--white);
}

#right-sidebar {
  background-color: var(--white);
}

.sidebar-item .page-title {
  font-size: var(--ls-page-title-size);
  color: var(--ls-page-text-size);
  font-family: var(--ls-title-font-family);
  font-weight: bold;
  margin-left: 0;
}
