@mixin make($name) {
  div[data-refs-self*=".#{$name}"] {
    @content;
  }
  
  // Hide the styling tags
  a[data-ref=".#{$name}"] {
    display: none;
  }
}

// #.clean removes a bunch of extra content
@include make("clean") {
  .custom-query {
    margin-top: 0;
    .mt-2 {
      margin-top: 0;
    }
    .table-query-properties, .custom-query-title, .foldable-title {
      display: none;
    }
    
    .initial > div > .align-items {
      display: none;
    }
    
    .table-auto {
      margin: 0;
    }
    
    .breadcrumb {
      display: none;
    }
  }
}

@include make("grid") {
  & > .block-children-container > .block-children {
    display: grid;
    grid-auto-flow: column;
  }
  
  .time-spent {
    display: none;
  }
}