@import "./ia_writer_duo.scss";
@import "./ibm_plex_serif.scss";
@import "./reference_blocks.scss";
@import "./right_sidebar.scss";
@import "./colors.scss";
@import "./bullets.scss";
@import "./custom_classes.scss";
@import "./query.scss";
@import "./card.scss";
@import "./modal.scss";
@import "./left_sidebar.scss";

:root {
  --ls-font-family: "iA Writer Duo S";
  --ls-title-font-family: "IBM Plex Serif";
  --ls-page-text-size: 14px;
  --ls-page-title-size: 2rem;
}

#main-content-container {
  justify-content: flex-start;
}

a.journal-title,
a.page-title {
  margin-left: 1.5rem;
  padding-left: 0;
}

.title {
  font-family: var(--ls-title-font-family);
  font-weight: 300;
}

.page-ref,
.external-link {
  color: var(--ls-primary-text-color);
  text-decoration: underline;
  text-underline-position: under;
  border-bottom: 0;
  &:hover {
    color: var(--ls-primary-text-color);
  }
}
.references-blocks .page-reference:hover,
.page-reference:hover {
  background-color: transparent;
  .bracket {
    color: var(--orange);
  }
  .page-ref {
    color: var(--orange);
  }
}

.ls-block h1,
.ls-block h2,
.editor-inner .h1.uniline-block,
.editor-inner .h2.uniline-block {
  border-bottom: none;
  margin-top: 0;
}

// Removing icons that I never use
.cp__sidebar-help-btn,
#left-menu,
#search-button {
  display: none;
}

a.tag {
  font-size: var(--ls-page-text-size);
}

div {
  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-level-4);
  }
}

#main-content-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#left-container {
  flex: 0 0 auto;
}
#main-content {
  width: fit-content;
}
#right-sidebar {
  border-left: 1px solid var(--ls-secondary-text-color);
  width: unset !important;
  min-width: 40rem;
}
.resizer {
  display: none;
}
