@import './ia_writer_duo.scss';
@import './ibm_plex_serif.scss';
@import './reference_blocks.scss';
@import './right_sidebar.scss';
@import './colors.scss';
@import './bullets.scss';
@import './custom_classes.scss';
@import './query.scss';
@import './card.scss';
@import './modal.scss';

:root {
  --ls-font-family: "iA Writer Duo S";
  --ls-title-font-family: "IBM Plex Serif";
  --ls-page-text-size: 14px;
  --ls-page-title-size: 2rem;
}

#main-content-container {
  justify-content: flex-start;  
}

a.journal-title, a.page-title {
  margin-left: 1.5rem;
  padding-left: 0;
}

.title {
  font-family: var(--ls-title-font-family);
}

// Removing icons that I never use
.cp__sidebar-help-btn, #left-menu, #search-button {
  display: none;
}

a.tag {
  font-size: var(--ls-page-text-size);
}

// #app-container {
    // background: linear-gradient(to right,
        // hsl(98 100% 62%),
        // hsl(204 100% 59%));
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
// }