.custom-query {
  .lazy-visibility .color-level {
    border-radius: 0.25rem;
    border: 1px solid var(--ls-primary-text-color);
    background-color: var(--gray);
    padding: 0.5rem;
    margin-top: 0;
  }

  .breadcrumb.block-parents {
    margin-top: 0;
  }

  .content {
    margin-left: 0;
  }
}
