@mixin block {
  border: 1px solid var(--black);
  background-color: var(--gray);
  box-shadow: 0.25rem 0.25rem var(--black);
  border-radius: 0.25rem;
}

.references-blocks {
  // I don't care about these extra things when inside a reference block
  // I just want the content
  .logbook,
  .timestamp,
  .warning,
  [data-drawer-name="logbook"],
  .time-spent {
    display: none;
  }

  .initial {
    margin-left: -1rem;
  }

  .color-level {
    padding: 0.5rem;
    @include block;
  }
}

.flex-1.flex-row.foldable-title.cursor .font-bold.opacity-50 {
  font-size: var(--ls-page-title-size);
  font-family: var(--ls-title-font-family);
}

.custom-query .fade-enter > .color-level {
  @include block;
}

.block-properties {
  @include block;
}

.embed-block,
.embed.embed-page {
  @include block;
}
