// Make the right sidebar scroll horizontally and have a set width

.sidebar-item-list {
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: unset;
  padding-bottom: 0;

  .sidebar-item {
    min-width: 640px;
    max-width: 640px;
    box-shadow: none;
    max-height: 100vh;
    overflow-y: scroll;
    
    & > div > .initial {
      margin-left: -1.75rem;
    }
  }
}

.sidebar-item .page-title {
  font-size: var(--ls-page-title-size);
  color: var(--ls-page-text-size);
  font-family: var(--ls-title-font-family);
  font-weight: bold;
  margin-left: 0;
}